<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Node.js application configuration -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Rewrite rules for SPA and API -->
    <rewrite>
      <rules>
        <!-- Handle OPTIONS preflight requests -->
        <rule name="OPTIONS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
          </conditions>
          <action type="CustomResponse" statusCode="200" statusReason="OK" />
        </rule>
        
        <!-- API routes -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^(login|test|db-test|minimal-test|cors-debug|health)" />
          <action type="Rewrite" url="app.js" />
        </rule>
        
        <!-- Default route for SPA -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- CORS headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    
    <!-- IIS Node.js configuration -->
    <iisnode
      nodeProcessCommandLine="node"
      debuggingEnabled="false"
      logDirectory="iisnode"
      watchedFiles="*.js;*.json"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
      node_env="production"
      />
  </system.webServer>
</configuration>